page-feed {

    h2.feed_title {
        color: black;
        font-weight: bold;
    }
    p.feed_date {
        color: ghostwhite;

    }
    .feed_content {
        background-color: lavender;
    }
    .card_class{

        background-color: indigo;
        
    }
    .cardback_class{
        background-color: black;
    }
    
}