page-feed {

    h2.feed_title {
        color: black;
        font-weight: bold;
    }
    p.feed_date {
        color: ghostwhite;

    }
    .feed_content {
        background-color: lavender;
    }
    .card_class{

        background-image: linear-gradient(to bottom, rgba(87, 12, 131, 0.788) 0%, rgb(238, 238, 238) 100%);
        
    }
    .cardback_class{
        background-color: rgba(219, 214, 214, 0.589);
    }
    .page_feed{
        background-image: linear-gradient(to bottom, rgba(87, 12, 131, 0.788) 0%, rgb(5, 1, 1) 100%);
    }
    .content-md {
        color: #000;
        background-color: black;
      }
   
}